/Mod1-PBO/nbproject/private/
/Mod1-PBO/build/
/Modul1/nbproject/private/
/Modul1/build/
/Modul1/dist/
/Statistik/nbproject/private/
/Statistik/build/
/Statistik/dist/
/starPattern/nbproject/private/
/starPattern/build/